In [0]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

from matplotlib import pyplot as plt
import pandas as pd
from copy import deepcopy
import numpy as np

def GoogleDriveAuth(ID):
    auth.authenticate_user()
    gauth = GoogleAuth()
    gauth.credentials = GoogleCredentials.get_application_default()
    drive = GoogleDrive(gauth)
    file = drive.CreateFile({'id': ID})
    return file

File_ID = '1NjJ29PifME314xvYeh71vHOPQisbpKfi'
file_name = GoogleDriveAuth(File_ID)
file_name.GetContentFile('data_carsmall.xlsx')
data = pd.read_excel('data_carsmall.xlsx',delimiter=",")
data = pd.DataFrame(data)

In [0]:
#data cleaning
data=data.drop(0) # removing first row
test=data[data['y'].isnull()]   #finding y values as Nan
train = (data.dropna(subset=['y'])).fillna(0)   # filling x values of Nan as 0

Y_train=train.iloc[:,-1]
Y_test=test.iloc[:,-1]
X_train=train.iloc[:, :-1]
X_test=test.iloc[:, :-1]

# LINEAR

In [0]:
X_test=(X_test-np.mean(X_train))/np.std(X_train)
X_train=(X_train-np.mean(X_train))/np.std(X_train)
X_train.insert(0,'xo',1)
X_test.insert(0,'xo',1)

In [62]:
alpha=0.025
theta=[0 for i in range(X_train.shape[1])]
for i in range(1000):
  h_theta=np.dot(X_train,theta)
  sub=h_theta-Y_train
  theta-=np.dot(np.transpose(sub),X_train)*(alpha/X_train.shape[0])
print(theta)

Y_predicted=np.dot(X_test,theta)
test=test.drop(['y'],axis=1)
test["y_Predicted"]=Y_predicted
test

[23.71808511 -0.35704782 -2.87910192  0.75253701 -1.25632437 -4.0815295 ]

      x1 x2   x3   x4    x5 y_Predicted
11  17.5  4  133  115  3090     24.6642
12  11.5  8  350  165  4142     13.4688
13    11  8  351  153  4034     14.4096
14  10.5  8  383  175  4166     13.4118
15    11  8  360  175  3850     14.8158
18     8  8  302  140  3353     18.2422

# poly

In [0]:
col=X_train.shape[1]
for i in range (col):
  for j in range (i,col):
    X_train[i+1,j+1]=X_train.iloc[:,i]*X_train.iloc[:,j]

    
col=X_test.shape[1]
for i in range (col):
  for j in range (i,col):
    X_test[i+1,j+1]=X_test.iloc[:,i]*X_test.iloc[:,j]

In [0]:
#normalise
X_test=(X_test-np.mean(X_train))/np.std(X_train)
X_train=(X_train-np.mean(X_train))/np.std(X_train)
X_train.insert(0,0,1)
X_test.insert(0,0,1)

In [73]:
alpha=0.025
theta=[0 for i in range(X_train.shape[1])]
for i in range(1000):
  h_theta=np.dot(X_train,theta)
  sub=h_theta-Y_train
  theta-=np.dot(np.transpose(sub),X_train)*(alpha/X_train.shape[0])
print(theta)

Y_predicted=np.dot(X_test,np.transpose(theta))
test=test.drop(['y'],axis=1)
test["y_Predicted"]=Y_predicted
test

[23.71808511  0.83701837 -1.70888304 -0.64049347 -1.38077769 -2.03352889
  0.75495268 -0.06845213  0.59895553  0.04538744 -2.7738491  -1.27792008
 -0.38808753 -0.58426095  0.12419778  0.24232673  0.23369938  1.21390897
 -0.62602274  0.97245844  0.25337905]

      x1 x2   x3   x4    x5 y_Predicted
11  17.5  4  133  115  3090     24.2708
12  11.5  8  350  165  4142     14.0824
13    11  8  351  153  4034      15.053
14  10.5  8  383  175  4166     14.4152
15    11  8  360  175  3850     14.9428
18     8  8  302  140  3353     18.0713